@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900|Dancing+Script:400,700|EB+Garamond:400,500,700');

$ff-dancing:'Dancing Script', cursive; 
$ff-cinzel: 'Cinzel', serif;
$ff-garamond: 'EB Garamond', serif;

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

