// Media query 

$breakepoints: (
small: 450px,
medium: 860px,
large: 1200px,
);

@mixin mq($size) {
@if map-has-key($breakepoints, $size) {
$breakepoint: map-get($breakepoints, $size);
@media (min-width: $breakepoint) {
@content;
}
}
@else if type-of($size) == number and not unitless($size) {
@media (min-width: $size) {
@content;
}
}
@else {
@error "this map doesnt have #{$size} map key or is unitless"
}
}


// Media query

$spacer: 2em;

